#section-title {
    max-width: 1200px;
    padding-bottom: 50px;
    margin-bottom: 59px;
    border-bottom: 1px solid #eee;
    margin-bottom: 50px;
    text-align: left;
    text-transform: uppercase;
}

/* ---------------RAFAL tiutle  ------------------- */
.r-tytul {
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 22px;
    padding: 25px 0 25px 0;
    display: block;
    text-transform: capitalize;
}