body {
    padding: 0;
    margin: 0;
    background-color: red;
    /*REMOVE*/
}

.img-wrapper {
    max-width: 100%;
    overflow-x: hidden;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

@media (min-width:1919px) {
    .img-wrapper img {
        width: auto;
        min-width: 1920px;
    }
}


/*

@media (min-width: 1920px) {
	div {
		background-size: contain !important;
	}
	img {
		max-width: 100%;
		height: auto;
	}	
}
@media (min-width: 1200px) {
	div {
		background-size: cover !important;
	}
	img {
		max-width: 135%;
		height: auto;
	}	
}
@media (max-width: 1199px) {
	div {
		background-size: 134% !important;
	}
	img {
		max-width: 134%;
		height: auto;
	}	
}
@media (max-width: 991px) {
	div {
		background-size: 160% !important;
	}
	img {
		max-width: 160%;
		height: auto;
	}	
}*/